<html>
	<body>
		<div align="center">
			<img src="http://i416.photobucket.com/albums/pp247/sa222blah/buyer_zpsdac0d1e2.jpg" border="0" alt=" photo buyer_zpsdac0d1e2.jpg"/>
			<form action='/textbook/search' method=POST>
			<input type='text' name = "course" id='course' placeholder='Course Number'>
			<button type="submit">Submit</button>
			</form>
		</div>
	</body>
<style type="text/css">
    body
    {
    background-image:url('http://upload.wikimedia.org/wikipedia/en/thumb/b/bb/Carnegie_Mellon_University_seal.svg/300px-Carnegie_Mellon_University_seal.svg.png');
    background-repeat: no-repeat;
    background-position:center 250px;
    }
</style>
</html>