<!DOCTYPE html>
<!--barbara was here-->
<html>
  <head>
  	<title>CMU Text-CHANGE</title>
  	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
    <link rel="stylesheet" type="text/css" href = "frontpage.css">
  </head>
  <body>
    <div align="center">
      <a href="http://s416.photobucket.com/user/sa222blah/media/ScreenShot2014-02-01at91031AM_zps1e91b37d.png.html" target="_blank"><img src="http://i416.photobucket.com/albums/pp247/sa222blah/ScreenShot2014-02-01at91031AM_zps1e91b37d.png" border="0" alt=" photo ScreenShot2014-02-01at91031AM_zps1e91b37d.png"/></a>
    	<p>Enter the course number and price you are willing to sell it for.</p>
    	<form action='/textbook/new' method='post'>
  	    <input type='text' name = "email" id='email' placeholder='E-mail'>
  	    <input type='text' name = "courseNum" id='courseNumber' placeholder='Course Number'>
        <input type='text' name = "textName" id='textName' placeholder='Textbook Name'>
  	    <input type='text' name = "price" id='price' placeholder='Selling Price'>
  	    <button type="submit">Submit</button>
      </div>
	</form>
  </body>
  <style type="text/css">
    body
    {
    background-image:url('http://upload.wikimedia.org/wikipedia/en/thumb/b/bb/Carnegie_Mellon_University_seal.svg/300px-Carnegie_Mellon_University_seal.svg.png');
    background-repeat: no-repeat;
    background-position:center 250px;
    }
</style>
</html>